In [40]:
import face_recognition
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [41]:
profile_df = pd.read_csv('/home/quanhhh/Documents/vip/vip/annotation.csv')

In [42]:
profile_df

      image  height  weight        BMI
0     f_001    1.55    61.0  25.390219
1     f_002    1.76    85.0  27.440599
2     f_003    1.78    56.0  17.674536
3     f_004    1.63    63.0  23.711845
4     f_005    1.76    54.0  17.432851
...     ...     ...     ...        ...
1021  m_509    1.91   116.0  31.797374
1022  m_510    1.93   111.0  29.799458
1023  m_511    1.88   109.0  30.839746
1024  m_512    1.78    75.0  23.671254
1025  m_513    2.21   137.0  28.050204

[1026 rows x 4 columns]

In [43]:
def get_face_encoding(image_path):
    try:
        picture_of_me = face_recognition.load_image_file(image_path)
    except FileNotFoundError:
      print(image_path + " no file found")
      return np.zeros(128).tolist()
    my_face_encoding = face_recognition.face_encodings(picture_of_me)
    if not my_face_encoding:
        print(image_path + " no face found !!!")
        return np.zeros(128).tolist()
    return my_face_encoding[0].tolist()

In [44]:
data_folder = '/home/quanhhh/Documents/vip/vip/data/data/'

In [45]:
from glob import glob
all_files = glob(data_folder+"/*")

all_jpgs = sorted([img for img in all_files if ".jpg" in img or ".jpeg" in img or "JPG" in img])

print("Total {} photos ".format(len(all_jpgs)))

Total 1026 photos

In [46]:
from pathlib import Path as p

In [47]:
def get_index_of_digit(string):
    import re
    match = re.search("\d", p(string).stem)
    return match.start(0)

In [48]:
id_path = [(p(images).stem[:(get_index_of_digit(p(images).stem))],images) for  images in all_jpgs ]

In [74]:
image_df = pd.DataFrame(id_path,columns=['Image_','path'])

In [75]:
image_df

     Image_                                               path
0        f_  /home/quanhhh/Documents/vip/vip/data/data/f_00...
1        f_  /home/quanhhh/Documents/vip/vip/data/data/f_00...
2        f_  /home/quanhhh/Documents/vip/vip/data/data/f_00...
3        f_  /home/quanhhh/Documents/vip/vip/data/data/f_00...
4        f_  /home/quanhhh/Documents/vip/vip/data/data/f_00...
...     ...                                                ...
1021     m_  /home/quanhhh/Documents/vip/vip/data/data/m_50...
1022     m_  /home/quanhhh/Documents/vip/vip/data/data/m_51...
1023     m_  /home/quanhhh/Documents/vip/vip/data/data/m_51...
1024     m_  /home/quanhhh/Documents/vip/vip/data/data/m_51...
1025     m_  /home/quanhhh/Documents/vip/vip/data/data/m_51...

[1026 rows x 2 columns]

In [76]:
profile_df

      image  height  weight        BMI
0     f_001    1.55    61.0  25.390219
1     f_002    1.76    85.0  27.440599
2     f_003    1.78    56.0  17.674536
3     f_004    1.63    63.0  23.711845
4     f_005    1.76    54.0  17.432851
...     ...     ...     ...        ...
1021  m_509    1.91   116.0  31.797374
1022  m_510    1.93   111.0  29.799458
1023  m_511    1.88   109.0  30.839746
1024  m_512    1.78    75.0  23.671254
1025  m_513    2.21   137.0  28.050204

[1026 rows x 4 columns]

In [77]:
data_df = pd.concat([profile_df, image_df], axis= 1)
data_df

,image,height,weight,BMI,Image_,path
0,f_001,1.55,61.0,25.390219,f_,/home/quanhhh/Documents/vip/vip/data/data/f_00...
1,f_002,1.76,85.0,27.440599,f_,/home/quanhhh/Documents/vip/vip/data/data/f_00...
2,f_003,1.78,56.0,17.674536,f_,/home/quanhhh/Documents/vip/vip/data/data/f_00...
3,f_004,1.63,63.0,23.711845,f_,/home/quanhhh/Documents/vip/vip/data/data/f_00...
4,f_005,1.76,54.0,17.432851,f_,/home/quanhhh/Documents/vip/vip/data/data/f_00...
...,...,...,...,...,...,...
1021,m_509,1.91,116.0,31.797374,m_,/home/quanhhh/Documents/vip/vip/data/data/m_50...
1022,m_510,1.93,111.0,29.799458,m_,/home/quanhhh/Documents/vip/vip/data/data/m_51...
1023,m_511,1.88,109.0,30.839746,m_,/home/quanhhh/Documents/vip/vip/data/data/m_51...
1024,m_512,1.78,75.0,23.671254,m_,/home/quanhhh/Documents/vip/vip/data/data/m_51...
1025,m_513,2.21,137.0,28.050204,m_,/home/quanhhh/Documents/vip/vip/data/data/m_51...

In [78]:
del data_df['Image_']
data_df

,image,height,weight,BMI,path
0,f_001,1.55,61.0,25.390219,/home/quanhhh/Documents/vip/vip/data/data/f_00...
1,f_002,1.76,85.0,27.440599,/home/quanhhh/Documents/vip/vip/data/data/f_00...
2,f_003,1.78,56.0,17.674536,/home/quanhhh/Documents/vip/vip/data/data/f_00...
3,f_004,1.63,63.0,23.711845,/home/quanhhh/Documents/vip/vip/data/data/f_00...
4,f_005,1.76,54.0,17.432851,/home/quanhhh/Documents/vip/vip/data/data/f_00...
...,...,...,...,...,...
1021,m_509,1.91,116.0,31.797374,/home/quanhhh/Documents/vip/vip/data/data/m_50...
1022,m_510,1.93,111.0,29.799458,/home/quanhhh/Documents/vip/vip/data/data/m_51...
1023,m_511,1.88,109.0,30.839746,/home/quanhhh/Documents/vip/vip/data/data/m_51...
1024,m_512,1.78,75.0,23.671254,/home/quanhhh/Documents/vip/vip/data/data/m_51...
1025,m_513,2.21,137.0,28.050204,/home/quanhhh/Documents/vip/vip/data/data/m_51...

In [79]:
data_df.to_csv('pr_databmi.csv')